node_modules/
.env
.env.local
.env.test
github personal access token.txt
artifacts/
builds/
logs/
signing/
wraply-admin/.next/
wraply-worker/templates/
wraply-worker/*.cer
wraply-worker/*.certSigningRequest
wraply-worker/*.p12
wraply-worker/*.mobileprovision