node_modules/
.env
.env.local
.env.test
github personal access token.txt
artifacts/
builds/
logs/
projects/
signing/
wraply-admin/.next/
wraply-worker/templates/
*.cer
*.certSigningRequest
*.p12
*.mobileprovision